<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail of the Item</title>
</head>
<body>
<h1>Detail of the Item</h1>
<a th:href="@{/items/}">Back to List of all Items</a><br><br>
<b>Name: </b> <span th:text="${item.name}"></span><br><br>
<b>Description: </b> <span th:text="${item.description}"></span><br>
<b>User (owner): </b> <span th:text="${item.user.name}"></span><br>
<br>
<a th:href="@{'/items/' + ${item.id} + '/edit'}">Edit Item</a><br>
<a th:href="@{'/items/' + ${item.id} + '/delete'}">Delete Item</a>
</body>
</html>