<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${item.id == 0 ? 'Create a New Item' : 'Edit Item'}"></title>
</head>
<body>
<h1 th:text="${item.id == 0 ? 'Create a New Item' : 'Edit Item'}"></h1>
<a th:href="@{/items/}">Back to List of all Items</a><br><br>

<form method="post" th:action="@{/items/save}" th:object="${item}">
    <input type="hidden" th:field="*{id}">
    Name: <input type="text" th:field="*{name}"> <br>
    Description: <input type="text" th:field="*{description}"> <br>
    <input type="submit" value="Save">
</form>

</body>
</html>